@{
    ViewData["Title"] = "RadioAdm";
}
@model IEnumerable<string>

<div class="text-center">
    <h1 class="display-4">Музыка из папки</h1>
    <audio id="audio" src="~/Music/Lida_GSPD_-_Evrobit_72720089.mp3" controls></audio>
    
    
    <script>

        var audio = null;

        /*function togglePlay(musicFile) {
            audio = new Audio('Home/GetAudio?filename=' + musicFile);
            return audio.paused ? audio.play() : audio.pause();
        };*/

        function playAudio(musicFile) {
            return 
        };

        function playMusic(musicFile) {

            audio && audio.pause();
            audio = new Audio('Home/GetAudio?filename=' + musicFile);
            audio.play();
        }
    </script>
    @foreach (var file in Model)
    {
<p>
    @file
    <!--<button onclick="playMusic('@file'); return false;">Play</button>-->
    <audio id="audio" src="'Home/GetAudio?filename=' + @file" controls></audio>
</p>
    }
</div>